@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.treatmentlist__item {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__list {
    text-decoration: none;
    list-style: none;
}
.item__info {
    font-family: Allison;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.treatmentlist__item__img {
    border-radius: 100px;
}
.info__price {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.info__description {
    font-family: poppins;
    font-size: 1.3rem;
}
