@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.footer__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.footer__info {
    padding: 2rem;
}
.footer__title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: Allison, Marck Script;
}
