.editTreatment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.editTreatmentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.editTreatmentForm__button {
    text-decoration: none;
    color: rgb(185, 132, 57);
    padding: 0.4rem 0.5rem;
    background-color: rgb(50, 48, 48);
    border-radius: 1rem;
    font-size: 1.25rem;
}
