@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 5rem;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
.header__menu {
    list-style: none;
}
.header__menu2 {
    padding: 0 12rem;
}
.header__nav {
    display: flex;
    justify-content: center;
}
.header__fullMenu {
    display: flex;
    justify-content: center;
    margin: 0 5rem;
    padding: 0 1rem;
    flex-direction: row;
    gap: 2rem;
}
.menu__items {
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 25px;
    box-shadow: 3px 5px 5px rgb(185, 132, 57);
    color: black;
}
.header__title {
    text-decoration: none;
    font-weight: 800;
    font-size: 10rem;
    color: black;
    font-family: Allison, Marck Script, verdana, Arial, Helvetica, sans-serif;
}
.header__user {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
}
.header__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
}
